<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
        <span v-if="show">Hi there! I'm showing!</span>
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
     </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message :'Hello Vue JS!',
                show : true,
                todos: [
                    { text: 'JavaScript Learning'},
                    { text: 'Learning Vue!'},
                    { text: 'I want to learn more knowledge!'}
                ]
            }
        })
        app.todos.push({text:'Thanks for watching this!'})
    </script>
</body>
</html>