<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
        <span v-if="show">Hi there! I'm showing!</span>
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li> 
        </ul>
        <ol>
            <todo-item 
                v-for="item in list"
                v-bind:todo="item"
                v-bind:key="item.id">

            </todo-item>
        </ol>
        <input v-model="message">
        <button v-on:click="reverseMessage">Reverse Message</button>
     </div>

    <script>
        Vue.component('todo-item',{
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app = new Vue({
            el: '#app',
            data: {
                message :'Hello Vue JS!',
                show : true,
                todos: [
                    { text: 'JavaScript Learning'},
                    { text: 'Learning Vue!'},
                    { text: 'I want to learn more knowledge!'}
                ],
                list : [
                    { id:0, text: 'Eat breakfast when I get up!' },
                    { id:1, text: 'Do exercise!'},
                    { id:2, text: 'Learning new knowledge!'}
                ]
            },
            methods: {
                reverseMessage: function(){
                    this.message = this.message.split('').reverse().join('')
                    this.todos = this.todos.reverse()
                }
            }
        })
        app.todos.push({text:'Thanks for watching this!'})
    </script>
</body>
</html>