<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
        <span v-if="show">Hi there! I'm showing!</span>
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
        <button v-on:click="reverseMessage">Reverse Message</button>
     </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message :'Hello Vue JS!',
                show : true,
                todos: [
                    { text: 'JavaScript Learning'},
                    { text: 'Learning Vue!'},
                    { text: 'I want to learn more knowledge!'}
                ]
            },
            methods: {
                reverseMessage: function(){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        app.todos.push({text:'Thanks for watching this!'})
    </script>
</body>
</html>